{% macro render_cards(obj) -%}

<div class="ui link cards">
  {% for picture in obj.get_images() %}
    <div class="card">
      <div class="image">
        <img src="{{ url_for('pictures.download', picture_id=picture.id, filename=picture.file.filename) }}">
      </div>
      <div class="content">
        <div class="header">{{ picture.description or "" }}</div>
        <div class="meta">
          <a>Friends</a>
        </div>
        <div class="description">
          Created Date: {{ picture.created_date.strftime('%Y-%m-%d %H:%M:%S') }}
        </div>
      </div>
      <div class="extra content">
        <span class="right floated">
          {{ picture.public }}
        </span>
        <span>
          <i class="user icon"></i>
          {{ picture.owner.full_name }}
        </span>
      </div>
    </div>
  {% endfor %}
</div>

{% endmacro %}
