.primary-color { 
	background: #ea5959 !important; 
}
	
.second-color { 
	background: #f98b60 !important; 
}

.third-color { 
	background: #ffc057 !important; 
}

.fourth-color { 
	background: #ffe084 !important; 
}
